* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

* {
    outline: 1px solid orange;
    }

body {
    padding: 0 400px 0 400px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 5rem 1.5rem 0;
    }

.logo {
    display: flex;
    align-items: center;
    margin-left: 150px;
    font-size: 60px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    i {
        font-size: 60px;
        color: #407233;
        }
    }

nav {
    display: flex;
    align-items: center;
    margin: 0 0 0.9rem 0;
    font-size: 25px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    a {
        padding: 0 30px 0 30px;
        text-decoration: none;
        color: #000;
        }
    }

.button {
    display: flex;
    margin: 0 90px 0.9rem 0;

    button {
        padding: 0.8rem 2rem;
        border: none;
        border-radius: 30px;
        background-color: #407233;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        }
    }

.hero-background {
    display: flex;
    justify-content: flex-start;
    margin-right: 300px;

    img {
        margin-left: 460px;
        max-width: 100%;
        width: 1300px;
        height: auto;
        }
    }

.hero-content {
    display: flex;
    position: absolute;
    transform: translateX(22%);
    top: 23%;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    h1 {
        font-size: 70px;
        font-weight: bold;
        color: #000;
        }

    p {
        margin-top: 25px;
        font-size: 25px;
        font-weight: 300;
        color: #8a8989;
        }
    }

.hero-badges {
    display: flex;
    position: absolute;
    top: 55%; left: 21.3%;

    .apple-badge {
        padding: 0 15px 0 0;
        max-width: 100%;
        width: 194px;
        height: auto;
        }

    .google-badge {
        padding: 0 0 0 15px;
        max-width: 100%;
        width: 200px;
        height: auto;
        border-radius: 6px;
        background-color: white;

        }
    }

.hero-icons {
    display: flex;
    position: absolute;
    top: 64%; left: 21.3%;

    .fa-brands {
        border-radius: 50%;
        border: 2px solid #000;
        text-decoration: none;
        background-color: white;
        color: #000;   
        font-size: 25px;
        }
    
    .fa-xing{
        padding: 6px 8.5px 6px 8.5px;
        margin: 0 5px 0 0;
        }

    .fa-flickr {
        padding: 6px 8px 6px 8px;
        margin: 0 5px 0 5px;
        }

    .fa-facebook-f {
        padding: 6px 11px 6px 11px;
        margin: 0 5px 0 5px;
        }

    .fa-twitter {
        padding: 6px 7px 6px 7px;
        margin: 0 5px 0 5px;
        }
    }

.box {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 4rem 0 4rem 0;

    .box-one {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        .fa-sack-dollar {
            margin-bottom: 20px;
            font-size: 60px;
            color: #407233;
            }

        h1 {
            font-size: 40px;
            font-weight: bold;
            color: #000;
            }

        p {
            margin-top: 25px;
            font-size: 25px;
            font-weight: 300;
            color: #8a8989;
            }
        }
    }

    .box-two {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        .fa-layer-group {
            margin-bottom: 20px;
            font-size: 60px;
            color: #407233;
            }

        h1 {
            font-size: 40px;
            font-weight: bold;
            color: #000;
            }

        p {
            margin-top: 25px;
            font-size: 25px;
            font-weight: 300;
            color: #8a8989;
            }
        }

    .box-three {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        .fa-radio {
            margin-bottom: 20px;
            font-size: 60px;
            color: #407233;
            }

        h1 {
            font-size: 40px;
            font-weight: bold;
            color: #000;
            }

        p {
            margin-top: 25px;
            font-size: 25px;
            font-weight: 300;
            color: #8a8989;
            }
        }

